.font-poppins{
    font-family: poppins;
}
.font-14{
    font-size: 14px;
}
.admin-main{
    background: #EFF3FD;
}
.admin-user-name{
color:#00261C;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.384px;
}
.admin-header{
    padding: 0 0 50px 0;
}
.footer, .header_part{
    display: none !important;
}
