
@media (max-width: 768px) {
  .book-trail-popup {
    border-radius: 20px !important;
    max-width: 95% !important;
    margin: 0 auto !important;
  }

  .popup-min-heigh{
    height: auto !important;
    margin-top: -110px !important;

  }
  .enquiry-main-title {
    font-size: 18px !important;
    line-height: 1.3 !important;
  }

  .enquiry-main-subtitle {
    font-size: 13px !important;
  }

  .enquiry-subtitle {
    font-size: 13px !important;
    padding: 0 10px !important;
  }

  .enquiry-model-box button {
    top: 10px !important;
    right: 10px !important;
    padding: 6px !important;
  }

  .enquiry-contact-box {
    width: 90% !important;
    margin: 0 auto !important;
    padding: 10px 15px !important;
  }

  .enquiry-contact-box p {
    font-size: 13px !important;
  }

  .enquiry-model-box {
    padding: 20px !important;
  }

  .enquiry-model-box h1 {
    margin-bottom: 10px !important;
  }

  .enquiry-model-box .inline-block {
    padding: 6px 12px !important;
  }

 

  .enquiry-contact-box + .enquiry-contact-box {
    margin-top: 10px !important;
  }

}
@media (max-width: 640px) {
  .mobile-full-width {
    width: 100% !important;
    border-radius: 0 !important;
  }

  .mobile-contact-row {
    display: flex !important;
    gap: 12px;
  }

  .mobile-icons-row {
    display: flex !important;
    flex-direction: row !important;
    gap: 15px !important;
  }
}
@media (max-width: 480px) {
  .enquiry-main-title {
    font-size: 16px !important;
  }
  .book-trail-popup {
	background-image: url("/enquirypop.jpg");
}

  .enquiry-main-subtitle {
    font-size: 12px !important;
  }

  .enquiry-subtitle {
    font-size: 12px !important;
    margin-bottom: 4px !important;
    margin-top: 0px !important;
  }

  .enquiry-contact-box p {
    font-size: 12px !important;
  }


  .enquiry-contact-box {
    padding: 8px 12px !important;
  }

  .book-trail-popup {
    padding: 10px !important;
  }
   .popup-min-heigh{
    height: auto !important;
    margin-top: -100px !important;
  }
}

@media (max-width: 360px) {
  .enquiry-main-title {
    font-size: 15px !important;
  }
  .enquiry-subtitle {
    font-size: 11px !important;
     margin-top: 0px !important;
  }
  .enquiry-contact-box p {
    font-size: 11px !important;
  }
   .popup-min-heigh{
    height: auto !important;
    margin-top: -100px !important;

  }

}
