.teacher-grid{
    border-radius: 20px;
border: 1px dashed #FFA228;
background: #FFF;
box-shadow: 0 2px 20px 0 rgba(255, 222, 155, 0.50);
padding: 17px 24px;
}
.teacher-points{
color: #030303;
font-family: var(--font-oxanium);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
.teacher-description{
    color: #030303;
font-family: var(--font-poppins);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}
.our-teacher{
      background: url('/teacher_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto !important;
  width: 100%;
}
.teacher-special-box{
    
}